/* >>> General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  overflow-y: scroll;
}

@media (min-width: 576px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 6%;
}

h1 {
  font-size: 4rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: 14px;
  line-height: 1.1;
}

h2 {
  color: #4d4d4d;
  font-weight: 300;
  text-align: center;
  font-size: 16px;
}

@media (min-width: 576px) {
  h2 {
    font-size: 20px;
  }
}

h3 {
  font-weight: 500;
  font-size: 16px;
}

@media (min-width: 576px) {
  h3 {
    font-size: 1.3rem;
  }
}

p {
  font-size: 14px;
}

@media (min-width: 576px) {
  p {
    font-size: 1rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.cta {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 36px;
  background: #222222;
  border-radius: 200px;
  color: white;
  font-weight: 300;
  font-size: 14px;
  height: 48px;
}

@media (min-width: 576px) {
  .cta {
    font-size: 16px;
  }
}

.cta:hover {
  background: #404040;
}

/* >>> Page transitions */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

/* >>> Layout */
.header {
  padding: 0 0 64px 0;
}

@media (min-width: 576px) {
  .header {
    padding: 32px 0 100px 0;
  }
}
